<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteHolder</title>
    <script src="/scripts/upload.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NoteHolder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notelist">My notes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Add note<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publicnotes">Public notes</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container">
    <h2>Add a note</h2>
    <div>
        <form id="addnote-form" class="addnote-form" action="/addnote" method="post">
            <div class="form-group">
                <label for="note-name">Note name</label>
                <input class="form-control" type="text" maxlength="50" placeholder="Enter your note identifier"
                       id="note-name" name="note-name" required>
            </div>
            <div class="form-group">
                <label for="note-text">Note text</label>
                <textarea id="note-text" class="form-control" placeholder="Your note here..." name="note-text"
                          rows="8"></textarea>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="privacyOptions" id="inlineRadio1"
                       value="private">
                <label class="form-check-label" for="inlineRadio1">Private</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="privacyOptions" id="inlineRadio2"
                       value="public">
                <label class="form-check-label" for="inlineRadio2">Public</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="privacyOptions" id="inlineRadio3" value="secure">
                <label class="form-check-label" for="inlineRadio3">Secure</label>
            </div>
            <div class="form-group">
                <input id="note-password" class="form-control" type="password"
                       placeholder="If you want your note secured, please input password here" name="note-password"/>
            </div>
            <input id="button-log-form" class="btn btn-primary" type="submit" value="Add"/>
        </form>
    </div>
    <br>
    <br>
    <div>
        <h2>Or add a file instead</h2>
        <form id="file-form">
            <div class="form-group">
                <label for="file">Choose your file here</label>
                <input type="file" class="form-control-file" id="file">
            </div>
            <input id="button-log-form2" class="btn btn-primary" type="submit" value="Upload"/>
        </form>
    </div>
</div>
</body>
</html>