<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteHolder</title>
    <script src="/scripts/login.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NoteHolder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notelist">My notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addnote">Add note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publicnotes">Public notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filelist">My files</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/logout"><span
                        class="glyphicon glyphicon-log-out"></span> Logout </a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container">
    <h2>Change your password</h2>
    <div>
        <form id="registration-form" class="registration-form" action="/recover-password/{{recovery_id}}" method="post">
            <div class="form-group">
                <label for="reg-password">Password</label>
                <input id="reg-password" class="form-control" type="password" placeholder="Enter new password"
                       name="password" required/>
            </div>
            <div class="progress">
                <div id="password-strength" class="progress-bar w-0" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="form-group">
                <label for="reg-password-2">Repeat password</label>
                <input id="reg-password-2" class="form-control" type="password" placeholder="Repeat password"
                       name="repeat-password" required/>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input id="button-reg-form" class="btn btn-primary" type="submit" value="Change"/>
        </form>
    </div>
</div>
</body>
</html>