<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteHolder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NoteHolder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notelist">My notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addnote">Add note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Public notes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filelist">My files</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/logout"><span
                        class="glyphicon glyphicon-log-out"></span> Logout </a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container" id="content">
    <div>
        {% if num_of_notes == 0 %}
        <h2>It looks like there are no public notes yet</h2>
        {% else %}
        <h2>There are {{ num_of_notes }} public notes</h2>
        {% endif %}
    </div>
    {% if num_of_notes > 0%}
    <table id="note-table" class="table">
        <thead>
        <tr>
            <th>Note owner</th>
            <th>Note name</th>
            <th>View note</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(num_of_notes) %}
        <tr>
            <td>{{ my_logins[i] }}</td>
            <td>{{ my_notes[i] }}</td>
            <td><a class="nav-link" href="/viewnote/{{ my_note_id[i] }}">View me</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</body>
</html>